{% extends 'basic_generic.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <h2>Chat for Loan: {{ loan.id }}</h2>
    <div class="chat-container">
        {% for message in messages %}
            <div class="chat-message {% if message.sender == request.user %}sent{% else %}received{% endif %}">
                <p>{{ message.message }}</p>
                <small>
                    {{ message.timestamp }}
                    {% if message.sender == request.user %} (Me) {% else %} ({{ message.sender.username }}) {% endif %}
                </small>
            </div>
        {% endfor %}
    </div>
    <form method="post" class="chat-form">
        {% csrf_token %}
        <input type="text" name="message" class="form-control" required placeholder="Type your message here">
        <button type="submit">Send</button>
    </form>
{% endblock %}