{% extends 'basic_generic.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <main class="home-main">
        <section class="dashboard-header">
            <h2 class="welcome-message">Welcome, {% if user.is_authenticated %}{{ user.username }}{% else %} Guest {% endif %}!</h2>
            <div class="quick-actions">
                {% if user.is_authenticated %}
                <a href="{% url 'loans:loan_application' %}" class="apply-button">Apply for a Loan</a>
                {% endif %}
                  <a href="{% url 'loans:loan_list' %}" class="browse-button">Browse Loan Requests</a>
               {% if user.is_authenticated %}
                 <a href="{% url 'loans:loan_list' %}" class="transaction-button">My Dashboard</a>
                {% endif %}
            </div>
        </section>

        <section class="dashboard-summary">
           {% if user.is_authenticated %}
                <div class="summary-card">
                   <h3 class="card-title">My Loan Applications</h3>
                    <p>Total applications: {{ loan_applications.count }}</p>
                    <p>Approved applications: {{ approved_loan_applications.count }}</p>
                  <a href="{% url 'loans:borrower_dashboard' %}" class="dashboard-button">View Details</a>
                </div>

               <div class="summary-card">
                    <h3 class="card-title">Outstanding Loans</h3>
                     <p>Total borrowed loans: {{ borrowed_loans.count }}</p>
                       <p>Total amount owed: KES {{ total_amount_owed }}</p>
                      <a href="{% url 'loans:borrower_dashboard' %}" class="dashboard-button">View Details</a>
               </div>
                <div class="summary-card">
                  <h3 class="card-title">My Active Loans</h3>
                   <p>Total lent amount: KES {{ total_lent_amount }}</p>
                  <p>Number of active loans: {{ active_loans.count }}</p>
                      <a href="{% url 'loans:loan_list' %}" class="dashboard-button">View Details</a>
                  </div>
          {% endif %}
        </section>
          <section class="recent-activity-section">
                <h2 class="recent-activity-title">Recent Activity</h2>
                 <ul class="activity-list">
                  {% if not recent_transactions and not recent_messages %}
                    <p class="no-activity">No recent activity yet</p>
                   {% else %}
                   {% for message in recent_messages %}
                      <li class="activity-item">
                        <p>New Message from {{message.sender}}</p>
                      </li>
                   {% endfor %}
                   {% for transaction in recent_transactions %}
                     <li class="activity-item">
                        <p>New Transaction of KES {{transaction.amount}} - loan id {{transaction.loan.id}}</p>
                     </li>
                   {% endfor %}
                  {% endif %}
                </ul>
            </section>
        {% if user.is_authenticated %}
           <section class="available-loans-section">
                <h2 class="available-loans-title">Available Loan Applications</h2>
               <div class="loan-card-list">
                  {% for loan_application in loans %}
                   {% if loan_application.loan %}
                         <div class="loan-card">
                      <a href="#" onclick="showLoanDetails('{{ loan_application.loan.id }}'); return false;">
                         <h3 class="loan-card-title">Borrower: {{ loan_application.borrower.username }}</h3>
                         <p>Amount: KES {{ loan_application.amount_requested }}</p>
                      </a>
                      {% if not loan_application.loan.lender and loan_application.status == 'PENDING' %}
                        <a href="{% url 'loans:loan_detail' pk=loan_application.loan.id %}" class="view-link">View Loan</a>
                      {% endif %}
                   </div>
                    {% else %}
                  <div class="loan-card">
                      <a href="#" onclick="showLoanDetails('{{ loan_application.id }}'); return false;">
                         <h3 class="loan-card-title">Borrower: {{ loan_application.borrower.username }}</h3>
                         <p>Amount: KES {{ loan_application.amount_requested }}</p>
                      </a>
                       {% if not loan_application.lender and loan_application.status == 'PENDING' %}
                        <a href="{% url 'loans:loan_detail' pk=loan_application.id %}" class="view-link">View Loan</a>
                      {% endif %}
                  </div>
                  {% endif %}
                  {% empty %}
                     <p class="no-loans">There are currently no available loans.</p>
                  {% endfor %}
               </div>
            </section>
         {% endif %}
        <section class="features-section">
            <h2 class="features-title">Key Features</h2>
            <ul class="features-list">
              <li class="feature-item"><img src="{% static 'icons/apply.png' %}" width="20" height="20" class="feature-icon"> Quick and easy loan application process.</li>
              <li class="feature-item"><img src="{% static 'icons/lending.png' %}" width="20" height="20" class="feature-icon"> Flexible Lending: Lenders can choose which loan applications to fund.</li>
              <li class="feature-item"><img src="{% static 'icons/transparency.png' %}" width="20" height="20" class="feature-icon"> Transparent Transactions: Track all transactions easily on our platform.</li>
              <li class="feature-item"><img src="{% static 'icons/review.png' %}" width="20" height="20" class="feature-icon"> User Reviews and Ratings: Make informed decisions through user reviews and ratings.</li>
            </ul>
        </section>

    <!-- The Modal -->
    <div id="loanModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">×</span>
        <div id="loanDetails"></div>
      </div>
    </div>
    </main>
     <script src="{% static 'js/home.js' %}"></script>
{% endblock %}