{% extends 'basic_generic.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/loan_list.css' %}">
    <main class="loan-list-main">
        <section class="loan-list-header">
          <h2 class="loan-list-title">Browse Loan Requests</h2>
          <div class="loan-list-actions">
                <div class="filter-sort">
                    <label for="filter">Filter by Status:
                         <select name="filter" id="filter">
                            <option value="">All</option>
                            <option value="PENDING">Pending</option>
                           <option value="APPROVED">Approved</option>
                            <option value="REJECTED">Rejected</option>
                            <option value="COMPLETED">Completed</option>
                        </select>
                    </label>
                     <label for="sort">Sort by:
                    <select name="sort" id="sort">
                        <option value="created_at">Date</option>
                        <option value="amount_requested">Amount</option>
                        <option value="interest_rate">Interest Rate</option>
                         <option value="duration_in_months">Duration</option>
                    </select>
                 </label>
                </div>
                 <div class="search">
                    <input type="text" id="search" placeholder="Search by borrower or purpose">
                </div>
           </div>
        </section>

        <section class="loan-list-section">
                <div class="loan-card-list" id="loan-list">
                    {% for loan in loans %}
                        <div class="loan-card">
                           <a href="{% url 'loans:loan_detail' pk=loan.id %}">
                             <h3 class="loan-card-title">Borrower: {{ loan.borrower.username }}</h3>
                              <p>Amount: KES {{ loan.amount_requested }}</p>
                              <p>Purpose: {{ loan.purpose|truncatechars:50 }}</p>
                            <p>Interest Rate: {{ loan.interest_rate }}%</p>
                             <p>Status: {{loan.status}}</p>
                           </a>
                        </div>
                    {% empty %}
                        <p class="no-loans">There are currently no available loans.</p>
                    {% endfor %}
              </div>
        </section>
    </main>
  <script src="{% static 'js/loan_list.js' %}"></script>
{% endblock %}