{% extends 'basic_generic.html' %}
{% load static %}
{% block content %}
   <style>
    .container-login {
        width: 500px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: white;
    }

    .container-login input[type="text"],
    .container-login input[type="number"],
    .container-login input[type="email"],
    .container-login select,
    .container-login input[type="password"] {
      width: 100%;
      padding: 10px;
       margin-bottom: 10px;
       border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
     }
     .container-login button {
         background-color: #4CAF50;
         color: white;
         border: none;
         padding: 10px 20px;
         cursor: pointer;
         border-radius: 4px;
     }

    .container-login button:hover {
         background-color: #45a049;
     }
     .detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.detail-table th, .detail-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.detail-table th {
    background-color: #f2f2f2;
}

.form-container {
  margin-top: 20px;
}
</style>

<div class="container-login">
    <h2>Loan Details</h2>
    <table class="detail-table">
        <tr>
            <th>Borrower</th>
            <td>{{ loan.borrower.username }}</td>
        </tr>
        <tr>
             <th>Lender</th>
            <td>{{ loan.lender.username }}</td>
        </tr>
        <tr>
            <th>Amount Requested</th>
            <td>{{ loan.amount_requested }}</td>
        </tr>
         <tr>
            <th>Interest Rate</th>
            <td>{{ loan.interest_rate }}</td>
        </tr>
         <tr>
            <th>Duration in Months</th>
            <td>{{ loan.duration_in_months }}</td>
        </tr>
         <tr>
            <th>Collateral</th>
            <td>{{ loan.collateral }}</td>
        </tr>
          <tr>
            <th>Status</th>
            <td>{{ loan.status }}</td>
        </tr>
          <tr>
            <th>Created At</th>
            <td>{{ loan.created_at }}</td>
        </tr>
    </table>
     {% if is_lender or is_borrower %}
    <div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
         <button type="submit">Update Status</button>
    </form>
        {% if loan.status != 'COMPLETED' %}
           <a href="{% url 'loans:transaction' loan_id=loan.id %}" class="apply-button">Make Transaction</a>
            {% endif %}
     </div>
    {% endif %}
         {% if is_lender or is_borrower %}
          {% if user.is_authenticated %}
              <a href="{% url 'loans:chat' loan_id=loan.id %}" class="apply-button">Chat</a>
          {% endif %}
    {% endif %}
</div>
{% endblock %}