<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peer-to-Peer Lending Platform</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container header-container">
            <h1><a href="{% url 'loans:home' %}" style="color:white; margin-left: 0">P2P Loans</a></h1>
            <nav class="navigation-right">
                 <div class="menu-toggle" onclick="toggleMenu()">☰</div>
                <ul id="main-menu" class="desktop-menu">
                    <li><a href="{% url 'loans:home' %}">Home</a></li>
                    <li><a href="{% url 'loans:loan_list' %}">Browse Loans</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'loans:loan_application' %}">Apply for Loan</a></li>
                        <li><a href="{% url 'loans:profile' %}">My Dashboard</a></li>
                        <li class="dropdown desktop-dropdown">
                            <a href="javascript:void(0)" class="dropbtn">{{ user.username }}</a>
                            <div class="dropdown-content">
                                <a href="{% url 'loans:edit_profile' %}">Edit Profile</a>
                                <a href="{% url 'loans:logout' %}">Logout</a>
                            </div>
                        </li>

                    {% else %}
                        <li class="auth-dropdown mobile-dropdown">
                             <a href="javascript:void(0)" class="authbtn">Login/Register</a>
                            <div class="auth-dropdown-content">
                                <a href="{% url 'loans:login' %}">Login</a>
                                <a href="{% url 'loans:register' %}">Register</a>
                            </div>
                         </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
     <script>
       function validateForm(form) {
          var isValid = true;
          var formElements = form.elements;
            for(var i=0; i < formElements.length; i++) {
               var element = formElements[i];
                if(element.hasAttribute('required') && element.value.trim() == ''){
                 isValid = false;
                element.style.borderColor = 'red';
             } else {
                 element.style.borderColor = '';
             }
            }
           if (!isValid) {
              alert('Please fill out all required fields.');
            }
           return isValid;
        }
    </script>
</body>
</html>